<html>

<head></head>

<body>

  <div class="margenes">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <img [src]="images[0]" alt="Random first slide">
        <div class="carousel-caption">
          <h3>Relájate</h3>
          <p>Te brindaremos unas vistas que harán olvidarte de los problemas.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[1]" alt="Random second slide">
        <div class="carousel-caption">
          <h3>Descansa</h3>
          <p>Dormirás como si estuvieras en una nube</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide">
        <div class="carousel-caption">
          <h3>Privavidad</h3>
          <p>Nadie te podrá molestar.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <!--<div class='carousel carousel-animated carousel-animate-fade'>
  <div class='carousel-container'>
    <div class='carousel-item has-background is-active'>
      <img class="is-background" src="https://wikiki.github.io/images/merry-christmas.jpg" alt="" width="640" height="310" />
      <div class="title">Merry Christmas</div>
    </div>
    <div class='carousel-item has-background'>
      <img class="is-background" src="https://wikiki.github.io/images/singer.jpg" alt="" width="640" height="310" />
      <div class="title">Original Gift: Offer a song with <a href="https://lasongbox.com" target="_blank">La Song Box</a></div>
    </div>
    <div class='carousel-item has-background'>
      <img class="is-background" src="https://wikiki.github.io/images/sushi.jpg" alt="" width="640" height="310" />
      <div class="title">Sushi time</div>
    </div>
    <div class='carousel-item has-background'>
      <img class="is-background" src="https://wikiki.github.io/images/life.jpg" alt="" width="640" height="310" />
      <div class="title">Life</div>
    </div>
  </div>
  <div class="carousel-navigation">
    <div class="carousel-nav-left">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>
    <div class="carousel-nav-right">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  </div>
</div>-->

  <!-- <section class="SectionColumnasImg"> 
  <div class="colunmas">
    <table class="a" cellspacing="0" cellpadding="2">
      <div class="color">
        <tr>
          <td class="nada"><b>
              <p class="color2">Escoge una fecha</p>
            </b></td>
        </tr>
      </div>
      <tr class="color">
        <td>
          <table class="a" cellspacing="0" cellpadding="4">
            <tr class="color1">
              <td>


                <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                  outsideDays="hidden">
                </ngb-datepicker>

                <ng-template #t let-date let-focused="focused">
                  <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)"
                    (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>

                <hr> -->

  <!--<pre>From: {{ fromDate | json }} </pre>
<pre>To: {{ toDate | json }} </pre>-->

  <!-- </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <div class="dropdown">
   
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Action</button>
      <button class="dropdown-item" type="button">Another action</button>
      <button class="dropdown-item" type="button">Something else here</button>
    </div>
  </div>
</section>
  <br><br>
  <div>
      <p>Custom rating template provided as child element</p>

      <ngb-rating [(rate)]="currentRate">
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
        </ng-template>
      </ngb-rating>
      <hr>
      <pre>Rate: <b>{{currentRate}}</b></pre>
</div> -->
  <div style="width: 100%;"></div>
  <h2 style="text-align: center; margin-bottom: 50px;"><strong>Sobre nosotros</strong></h2>

  <div style="text-align: center; margin-bottom: 50px;" class="row">

    <label class="linea" style="width: 33%;">Con una ubicación ideal en el centro de Sevilla,<br> el histórico Hotel
      Alfonso XIII
      ofrece el
      lugar<br> ideal para
      descubrir Sevilla y Andalucía.</label>
    <label class="linea" style="width: 33%;">Con una ubicación ideal en el centro de Sevilla,<br> el histórico Hotel
      Alfonso XIII
      ofrece el
      lugar<br> ideal para
      descubrir Sevilla y Andalucía.</label>
    <label style="width: 33%;">Con una ubicación ideal en el centro de Sevilla,<br> el histórico Hotel Alfonso XIII
      ofrece el
      lugar<br> ideal para
      descubrir Sevilla y Andalucía.</label>

  </div>
  <h2 style="margin-top: 50px;" class="marginn"><strong>Servicios</strong></h2>
  <div class="row marginn">
    <div class="colunm linea3 separacion2"><strong>Servicio de<br>habitaciones</strong></div>
    <div class=" column linea2 linea3 separacion2"><strong>Aire <br> acondicionado</strong></div>
    <div class=" column separacion2"><strong>Rececion 24 <br>horas</strong></div>
  </div>


  <!--  <div class="newspaper">
    Servicio dehabitaciones Aire Condicionado recepción 24 hrs 
  </div> -->
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Sobre nosotros</h6>
          <p class="text-justify">carolse.com es uno de las mejores <i>HOTELES</i> Lleno de glamur andaluz, el hotel es
            una obra
            maestra en sí mismo. Con sus minaretes, su impresionante salón, sus suntuosos azulejos de cerámica y sus
            jardines. </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Lugares</h6>
          <ul class="footer-links">
            <li><a>España</a></li>
            <li><a>Francia</a></li>
            <li><a>Japón</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Ayudas</h6>
          <ul class="footer-links">
            <li><a>Sobre nosotros</a></li>
            <li><a>Contacta con nosotros</a></li>
            <li><a>política de privacidad</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 todos los derechos reservados por:
            <a href="#">Carolse</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>