.margenes {
    text-align: center;    
    
}
.margen {
  margin: 20px 60px 20px 0px;
}
.pics_in_a_row {
    display: flex;
  }
.img1 {
    flex:1.3444;
}

.margenFoto {
  margin: 20px 60px 20px 150px;
}
.margenExcursion {
  text-align: center;
}
.titulo {
  color: #990033;
}
.color {
  color: #9ca0a6;
}
.margenesBull {
  margin: 20px 100px 20px 300px;
}
.margenesPrincipal {
  margin: 20px 80px 40px 80px;
}
.SectionColumnasImg {
  width: 100%;
  margin: auto;
}
.columnas {
  width: 33.333%;
  float: left;
  padding: 20px 20px;
  box-sizing: border-box;
  margin: auto;
}
.columnas img {
  border-radius: 150px;
  width: 300px;
  height: 300px;
  margin: 100px;
}

.sameSize {
  width: 1360px;
  height: 768px;
}


